@import '../../scss/index.scss';
.basic-layout{
    &__menu{
        padding-right: 0 !important;
    }
    &__content{
        height: 100vh;
        overflow-y: scroll;
        border-right: 1px solid $grey_dark;
        &::-webkit-scrollbar{
            display: none;
        }
    }
}
