@import '../../../scss/index.scss';
.comment{
    display: flex;
    margin-top: 30px;
    .form-group{
        width: 75%;
        .form-control{
            height: 150px;
            border: 1px solid $primary_grey;
            border-radius: 10px;
        }
    }
    .btn.btn-primary{
        margin-top: 50px;
        margin-left: 30px;
        height: 40px;
    }
}
