@import '../../../scss/index.scss';
.info-user{
    margin: 0;
 .name{
     font-size: 12px;
     font-weight: bold;
 }
 .email{
     font-size: 10px;
     color:$font-grey;
 }
 .description{
     margin:0.625rem 0;
     white-space: pre-line;
     font-size: 11px;
     .hr{
         height: 0.0625rem;
         background: $font-grey;
         width: 100%;
     }
 }
 .more-info{
     margin-left: 1.25rem;
     display: flex;
     align-items: center;
        a,p{
            font-size: 11px;
            color:$font-grey;
            padding-right: 2.5rem;
        }
        span{
            margin-left: 5px;
        }
    }
    @media screen and (max-width:450px){
        .name{
            font-size: 12px;
        }
        .more-info{
            display: inline-block;
               a,p{
                   font-size: 10px;
                   img{
                       margin-right: 30px;
                       width: 20px;
                   }

               }
           }
    }
}
