@import "../../../scss/colors";
.banner-avatar{
    position: relative;
    background-color: $grey_light;
    height: 13rem;
    margin-bottom: 3.75rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    .avatar{
        position: absolute;
        bottom:-3.125rem;
        left:1.25rem;
        background-color: $grey_light;
        width:7rem;
        height: 7rem;
        border:0.25rem solid $border_dark;
        border-radius: 50%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    @media screen and (max-width:450px){
        height: 10rem;
        .avatar{
            width: 6rem;
            height: 6rem;
            bottom:-30px;
        }
    }
    .option{
        position: absolute;
        bottom: -4.375rem;
        right: 0.9375rem;
        @media screen and (max-width:400px){
            bottom:-3rem;
        }
        button{
            border-radius: 6rem;
            background-color: transparent;
            padding: 5px;
            width: 100px;
            border: 1.5px solid $primary;
            font-size: 12px;
            .unfollow-text{
                display: none;
            }
            &:hover{
                background: $danger;
                border: none;
                opacity: 0.9;
                .unfollow-text{
                    display: contents;
                }
                .following-text{
                    display:none;
                }
            }
        }
        .edit-btn{
            &:hover,&:active,&:focus{
                background: $primary;
                border: 1px solid $primary;
            }
            span{
                margin-left: 5px;
            }
        }
    }

}
