@import '../../scss/index';
.left-menu{
    background: $blue_dark_second;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    min-height: 100vh;
    border-right: 0.0625rem solid $grey_dark;
    .close{
        display: none;
    }
    .logo{
        width: 150px;
        margin-left: 20%;
        margin-top: 30%;
    }
    .link{
        font-size: 15px;
        font-weight: bold;
        padding:0.625rem;
        margin-bottom: 10px;
        margin-left: 60px;
        &:hover{
            text-decoration: none;
        }
        &:first-of-type{
            margin-top: 1.875rem;
        }
        .icon_link{
            width: 1.875rem;
        }
    }
    .link.active{
        color:$primary;
    }
    @media screen and (max-width:450px){
        .close{
            display: flex;
            position: absolute;
            right: 10%;
            top: 2%;
            &:active,&:hover{
                color:#fff,
            }
        }
    }
}

.container-fluid{
    padding-left: 0;
}
