$blue_dark: #192227;
// $blue_dark_ligth:#334A56;
$primary:#2E86C1 ;
$primary_light:#71c9f8;
$primary_grey:#8799a6;
$primary_dark_ligth:#192734;
$primary_dark:#334A56;

$font_primary:$primary;
$font_light:#fff;
$font_grey: $primary_grey;
$font_dark:#000;

$border_primary: $primary;
$border_light:#fff;
$border-grey:#38444d;
$border-dark: $primary_dark;

$background_light:#fff;
$background_grey_dark: $primary_dark;
$grey_dark:#212F3C;
$grey_light:#D5D8DC;
$background_dark_light: $primary_dark_ligth;

$danger:#e0245e;
