@import './colors';
body{
    background: $background-grey-dark;
    color: $font-light;
}
.btn{
    box-shadow: none !important;
}
.btn.btn-primary{
    background-color: $primary;
    border-color: $primary;
    &:active,&:focus,&:hover{
        background-color:rgba($primary,0.5);
        color:$font-light;
    }
}
.btn.btn-outline-primary{
    color: $primary;
    border-color: $primary;
    &:active,&:focus,&:hover{
        background-color: $primary;
        color:$font-light;
    }
}

a {
	color: inherit;
	text-decoration: none;
}
