@import './colors';
body{
    background: $background-grey-dark;
    color: $font-light;
}
.btn{
    box-shadow: none !important;
}
.btn.btn-primary{
    background-color: $primary;
    border-color: $primary;
    &:active,&:focus,&:hover{
        background-color:rgba($primary,0.5);
        color:$font-light;
    }
}
.btn.btn-outline-primary{
    color: $primary;
    border-color: $primary;
    &:active,&:focus,&:hover{
        background-color: $primary;
        color:$font-light;
    }
}

a {
	color: inherit;
	text-decoration: none;
}
.react-datepicker-wrapper{
    width: 100%;
    height: 35px;
    .react-datepicker__input-container{
        width: 100%;
        input{
            width: 100%;
            border-radius: 0;
            background: transparent;
            border: none;
            border-bottom: 3px solid $grey_dark;
            box-shadow: none;
            outline: none;
            padding: 5px;
            font-size: 15px;
            color:$grey_light;
            &:hover,&:active,&:focus{
                background: transparent;
                box-shadow: none;
                color:$grey_light;
                outline: none;
            }
        }
    }
}
.label {
    text-transform: uppercase;
    color:$primary_grey;
    font-size: 15px;
}
