@import '../../scss/index.scss';
a {
	color: inherit;
	text-decoration: none;
}
.login-wrap {
	width: 100%;
	margin: auto;
	max-width: 525px;
	min-height: 670px;
	position: relative;
}
.singIn__singUp {
    overflow: hidden;
	width: 100%;
    height: 100%;
    top:10%;
	position: absolute;
    padding: 50px 40px 30px 40px;
    border-radius: 30px;
	background: $blue_dark;
	.login__form {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		position: absolute;
		transform: rotateY(180deg);
		backface-visibility: hidden;
        transition: all 0.6s linear;
        img{
            width: 100px;
            margin-left: 35%;
            margin-top: 20px;
        }
        .btn.btn-primary{
            width: 100%;
            border-radius: 20px;
            padding: 10px;
            font-size: 20px;
            margin-top: 10px;
        }
        .form-group{
            margin-top: 10px;
            .form-control{
                border-radius: 0;
                background: transparent;
                border: none;
                border-bottom: 3px solid $grey_dark;
                box-shadow: none;
                outline: none;
                padding: 15px;
                font-size: 18px;
                color:#fff;
                &:first-of-type{
                    margin-bottom: 40px;
                }
            }
            .form-control ~ .border {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0;
                height: 2px;
                background-color: #27ad8a;
            }

            .form-control:focus ~ .border {
                width: 100%;
                transition: 0.5s;
            }
        }
	}
	.register__form {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		position: absolute;
		transform: rotateY(180deg);
		backface-visibility: hidden;
        transition: all 0.6s linear;
        .btn.btn-primary{
            width: 100%;
            border-radius: 20px;
            padding: 10px;
            font-size: 20px;
            margin-top: 10px;
        }
        .form-group{
            margin-top: 5px;
            .form-control{
                border-radius: 0;
                background: transparent;
                border: none;
                border-bottom: 3px solid $grey_dark;
                box-shadow: none;
                outline: none;
                padding: 5px;
                font-size: 18px;
                color:#fff;
            }
            .form-control ~ .border {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0;
                height: 2px;
                background-color: #27ad8a;
            }

            .form-control:focus ~ .border {
                width: 100%;
                transition: 0.5s;
            }
        }
	}
	.sign-in {
        display: none;
		&:checked {
			+ {
				.tab {
					color: #fff;
                    border-color: #1161ee;
					+ {
						.sign-up {
							+ {
								.tab {
									+ {
										.login-form {
											.login__form {
												transform: rotate(0);
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
	.sign-up {
		display: none;
		&:checked {
			+ {
				.tab {
					color: #fff;
					border-color: #1161ee;
					+ {
						.login-form {
							.register__form {
								transform: rotate(0);
							}
						}
					}
				}
			}
		}
	}
	.tab {
        text-align: center;
        cursor: pointer;
		text-transform: uppercase;
		font-size: 24px;
        padding-bottom: 15px;
        display: inline-flex;
        align-items: center;
        border-bottom: 2px solid transparent;
        &:first-of-type{
            margin-right: 100px;
        }
	}
}
.login-form {
	.group {
        width: 100%;
        position: relative;
		.check {
			display: none;
			&:checked {
				+ {
					label {
						color: #fff;
						.icon {
							background: #1161ee;
							&:before {
								transform: scale(1) rotate(45deg);
							}
							&:after {
								transform: scale(1) rotate(-45deg);
							}
						}
					}
				}
			}
		}
		.label {
			text-transform: uppercase;
			width: 100%;
			color: #fff;
			display: block;
			color: #aaa;
			font-size: 15px;
		}
		margin-bottom: 15px;
		input[data-type="password"] {
			text-security: circle;
			-webkit-text-security: circle;
		}
		label {
			.icon {
				width: 15px;
				height: 15px;
				border-radius: 2px;
				position: relative;
				display: inline-block;
				background: rgba(255, 255, 255, 0.1);
				&:before {
					content: "";
					width: 10px;
					height: 2px;
					background: #fff;
					position: absolute;
					transition: all 0.2s ease-in-out 0s;
					left: 3px;
					width: 5px;
					bottom: 6px;
					transform: scale(0) rotate(0);
				}
				&:after {
					content: "";
					width: 10px;
					height: 2px;
					background: #fff;
					position: absolute;
					transition: all 0.2s ease-in-out 0s;
					top: 6px;
					right: 0;
					transform: scale(0) rotate(0);
				}
			}
		}
	}
	min-height: 345px;
	position: relative;
	perspective: 1000px;
	transform-style: preserve-3d;
}
.hr {
	height: 2px;
	margin-top: 30px;
	background: rgba(255, 255, 255, 0.2);
}
.foot-lnk {
    text-align: center;
    margin-top: 30px;
}


