@import '../../scss/index.scss';
a {
	color: inherit;
	text-decoration: none;
}
.login-wrap {
	width: 100%;
	margin: auto;
	max-width: 525px;
	min-height: 670px;
	position: relative;
}
.singIn__singUp {
    overflow: hidden;
	width: 100%;
    height: 100%;
    top:10%;
	position: absolute;
    padding: 40px 30px 40px 30px;
    border-radius: 30px;
	background: $blue_dark;
	.login__form {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
        position: absolute;
        img{
            width: 100px;
            margin-left: 35%;
            margin-top: 20px;
        }
        .btn.btn-primary{
            width: 100%;
            border-radius: 20px;
            padding: 10px;
            font-size: 20px;
            margin-top: 10px;
        }
        .form-group{
            margin-top: 10px;
            .form-control{
                border-radius: 0;
                background: transparent;
                border: none;
                border-bottom: 3px solid $grey_dark;
                box-shadow: none;
                outline: none;
                padding: 15px;
                font-size: 18px;
                color:#fff;
                &:first-of-type{
                    margin-bottom: 40px;
                }
                &:focus, &:active ,&:hover,&:valid,&:empty{
                    background: transparent;
                    border: none;
                    border-bottom: 3px solid $grey_dark;
                    box-shadow: none;
                }
            }
        }
	}
}
.login-form {
		margin-bottom: 15px;
		input[data-type="password"] {
			text-security: circle;
			-webkit-text-security: circle;
		}
		label {
			.icon {
				width: 15px;
				height: 15px;
				border-radius: 2px;
				position: relative;
				display: inline-block;
				background: rgba(255, 255, 255, 0.1);
				&:before {
					content: "";
					width: 10px;
					height: 2px;
					background: #fff;
					position: absolute;
					transition: all 0.2s ease-in-out 0s;
					left: 3px;
					width: 5px;
					bottom: 6px;
					transform: scale(0) rotate(0);
				}
				&:after {
					content: "";
					width: 10px;
					height: 2px;
					background: #fff;
					position: absolute;
					transition: all 0.2s ease-in-out 0s;
					top: 6px;
					right: 0;
					transform: scale(0) rotate(0);
				}
			}
		}
	min-height: 345px;
	position: relative;
	perspective: 1000px;
	transform-style: preserve-3d;
}
.hr {
	height: 2px;
	margin-top: 20px;
	background: rgba(255, 255, 255, 0.2);
}
.foot-lnk {
    text-align: right;
    margin-top: 20px;
}
.spinner-border{
    width: 25px;
    height: 25px;
}

.register_modal{
    background: rgba(0,0,0,.6);
    .modal-dialog{
        width: 800px;
    }
    .modal-content{
        background-color: $blue_dark;
        padding: 30px;
        border-radius: 25px;
        .modal-body{
            .form-group{
                margin-top: 10px;
                .form-control{
                    border-radius: 0;
                    background: transparent;
                    border: none;
                    border-bottom: 3px solid $grey_dark;
                    box-shadow: none;
                    outline: none;
                    padding: 10px;
                    font-size: 15px;
                    color:#fff;
                    &:first-of-type{
                        margin-bottom: 40px;
                    }
                    &:focus, &:active ,&:hover,&:valid,&:empty{
                        background: transparent;
                        border: none;
                        border-bottom: 3px solid $grey_dark;
                        box-shadow: none;
                    }
                }

            }
        }
    }
}
.close{
    color:#fff;
}
.register__form{
    .btn.btn-primary{
        width: 100%;
        border-radius: 20px;
        padding: 10px;
        font-size: 20px;
        margin-top: 10px;
    }
}
.register__link{
    margin-top: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    position: absolute;
    bottom: -20%;
    left:50%;
}
